body {
  background-color: midnightblue;
}

#mainNav {
  background-color: midnightblue;
}

.improve-contrast-box {
  background: rgba(23, 42, 84, 0.5);
}

.section-4 {
  color: white;
  background: url("../img/section4-bg.jpg") no-repeat center center scroll;
  background-color: black;
  background-size: cover;
}
