/* CNDTロゴの青色: #216A9C*/
/* CNDTロゴの赤色: #BE4493 */

body {
  background-color: #216A9C;
}

#mainNav {
  background-color: #216A9C;
  text-transform: none;
}

#mainNav.navbar-shrink {
  background-color: #216A9C;
}
 
.improve-contrast-box {
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}
